.show-deals {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  gap: 10px;
}

.deal-page {
  justify-content: center;
}

.thumb-deal {
  align-items: center;
}

.img-deal {
  background-color: #5788e5;
  width: 50%;
}

.deal-page:nth-child(even) {
  background-color: #3f62a4;
}

.deal-page:nth-child(odd) {
  background-color: #4167ae;
}
